{% load static %}
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}"> 
  <!-- Stylesheets
  ============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700%7CMontserrat:300,400,500,600,700%7CMerriweather:300,400,300i,400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/css/dark.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/css/swiper.css' %}" type="text/css" />

  <!-- shop Demo Specific Stylesheet -->
  <link rel="stylesheet" href="{% static 'canvas/demos/shop/shop.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/demos/shop/css/fonts.css' %}" type="text/css" />
  <!-- / -->

  <link rel="stylesheet" href="{% static 'canvas/css/font-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/css/animate.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'canvas/css/magnific-popup.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'canvas/css/responsive.css' %}" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{% static 'font/fontawsome/all.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'canvas/css/colors_lionhu.css' %}" type="text/css" />
  <script src="{% static 'canvas/js/jquery.js' %}"></script>

  <script src="{% static '/js/jquery.qrcode.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/reconnecting-websocket.min.js' %}"></script>
  <!-- Document Title
  ============================================= -->
  <title>Shop Demo | Canvas</title>


</head>

<body class="stretched">

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <div id="shop_header"></div>
    {%block maincontent %}
    {% endblock %}

    {% include 'shop_parts/footer.html' %}

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
  ============================================= -->
  <script src="{% static 'canvas/js/plugins.js' %}"></script>

  <!-- Footer Scripts
  ============================================= -->
  <script src="{% static 'canvas/js/functions.js' %}"></script>


</body>
</html>
