{% extends 'base_crypto.html' %}
{% load static %}

{% load render_bundle from webpack_loader%}
{% block headerscript %}


	<link rel="stylesheet" href="{%  static 'cryptoadmin/assets/vendor_components/select2/dist/css/select2.min.css' %}">
<script type="text/javascript" src="{%  static 'js/reconnecting-websocket.min.js' %}"></script>

{% endblock headerscript %}


{% block maincontent %}

      <div id="app"></div>
      
{% render_bundle 'main' %}
{% render_bundle 'vendor' %}

{% endblock %}


{% block footerscript %}
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static '/cryptoadmin/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
  <script src="{% static '/cryptoadmin/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
  <script src="{% static '/cryptoadmin/assets/vendor_components/easypiechart/dist/jquery.easypiechart.js' %}"></script>
  <script src="{% static '/cryptoadmin/js/pages/chart-widgets.js' %}"></script>
  <script src="{% static '/js/jquery.qrcode.js' %}"></script>

	<script>
      $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
      var introcode_url=document.getElementById("introcode_url")
      console.log($("#introcode_url").text())
      $("#qrcode").qrcode({
                render:"canvas",//设置渲染方式 （有两种方式 table和canvas，默认是canvas）  
                width: 200,//宽度
                height: 200,//高度
                correctLevel:2,//纠错等级 纠错级别，可取0、1、2、3，数字越大说明所需纠错级别越大  
                text: "#introcode_url",//生成二维码的文本
            });

	</script>

  <script>

      var ws_scheme = window.location.protocol=='https'?"wss://www.exrate.world:8001/wss":"ws://www.exrate.world:8001/ws";
      this.websocket = new ReconnectingWebSocket(ws_scheme + '/systemchannel/public/');

      console.log(this.websocket )
      this.websocket.onopen = this.websocketonopen;

　　　　　　　　this.websocket.onerror = this.websocketonerror;

　　　　　　　　this.websocket.onmessage = this.websocketonmessage; 
　　　　　　　　this.websocket.onclose = this.websocketclose;

        websocketonopen(){
            console.log("WebSocket public alert channel连接成功");
        };
        websocketclose(e){
            console.log("connection closed (" + e.code + ")"); 
        };
        websocketonmessage(e){
              var data = JSON.parse(e.data);
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
              })
              // console.log(data)
              if(data.message_type=="userstatus"){
                this.notify_userStatus(data)
              }else{
                Toast.fire({
                  type: data.message_type,
                  html: "<a href='/'>"+data.message+"</a>"
                })
              }

        };
        websocketsend(){
          var message_params={
            'message': this.message,
            "message_type":"success"
          }
          this.websocket.send(JSON.stringify(message_params));
          this.message=""
　　　　};
        websocketonerror(){
          console.log("WebSocket连接发生错误");
        };
  </script>
{% endblock footerscript %}
