<!-- chat/templates/chat/room.html -->
{% extends 'base_crypto_one.html' %}
{% load staticfiles %}

{% block maincontent %}
            <div class="col-lg-4 col-12">
              <!-- DIRECT CHAT DANGER -->
              <div class="box direct-chat direct-chat-success">
                <div class="box-header with-border">
                  <h4 class="box-title">Direct Chat</h4>
                   <ul class="box-controls pull-right">
                      <li><a class="box-btn-close" href="#"></a></li>
                      <li><a class="box-btn-slide" href="#"></a></li>   
                      <li><a class="box-btn-fullscreen" href="#"></a></li>
                       <li><button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                      <i class="fa fa-comments"></i></button></li>
                       <li><span data-toggle="tooltip" title="1 New Messages" class="badge bg-success">1</span></li>
                    </ul>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <!-- Conversations are loaded here -->

                  <!-- Conversations are loaded here -->
                  <div class="direct-chat-messages" id="direct-chat">
                    {% if user.is_authenticated %}
                            {% for message in chat_messages %}
                                {% if message.user == user %}
                                    <div class="direct-chat-msg">
                                      <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">{{message.user}}</span>
                                        <span class="direct-chat-timestamp pull-right">{{message.created|date:"H:i"}} </span>
                                      </div>
                                      <!-- /.direct-chat-info -->
                                      <img class="direct-chat-img" src="{{message.user.profile.thumbnail.url}}">
                                      <!-- /.direct-chat-img -->
                                      <div class="direct-chat-text">
                                        {{ message.message|safe }}
                                      </div>
                                      <!-- /.direct-chat-text -->
                                    </div>
                                {% else %}
                                
                                    <!-- Message to the right -->
                                    <div class="direct-chat-msg right">
                                      <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-right">{{message.user}}</span>
                                        <span class="direct-chat-timestamp pull-left">{{message.created|date:"H:i"}}</span>
                                      </div>
                                      <!-- /.direct-chat-info -->
                                      <img class="direct-chat-img" src="{{message.user.profile.thumbnail.url}}">
                                      <!-- /.direct-chat-img -->
                                      <div class="direct-chat-text">
                                        {{ message.message|safe }}
                                      </div>
                                      <!-- /.direct-chat-text -->
                                    </div>
                                {% endif %}
                            {% empty %}
        
                            {% endfor %}
                        {% else %}
                                <div>Please Login</div>
                        {% endif %}
                </div>

                  <!-- Contacts are loaded here -->
                  <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                      <li>
                        <a href="#">
                          <img class="contacts-list-img" src="../images/user1-128x128.jpg" alt="User Image">

                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Pavan kumar
                                  <small class="contacts-list-date pull-right">April 14, 2017</small>
                                </span>
                            <span class="contacts-list-email">info@.multipurpose.com</span>
                          </div>
                          <!-- /.contacts-list-info -->
                        </a>
                      </li>
                      <!-- End Contact Item -->
                      <li>
                        <a href="#">
                          <img class="contacts-list-img" src="../images/user7-128x128.jpg" alt="User Image">

                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Sonu Sud
                                  <small class="contacts-list-date pull-right">March 14, 2017</small>
                                </span>
                            <span class="contacts-list-email">sonu@gmail.com</span>
                          </div>
                          <!-- /.contacts-list-info -->
                        </a>
                      </li>
                      <!-- End Contact Item -->
                    </ul>
                    <!-- /.contatcts-list -->
                  </div>
                  <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="input-group">
                      <input type="text" id="chat_message" name="message" placeholder="Type Message ..." class="form-control">
                          <span class="input-group-btn">
                            <button id="btn_send" class="btn btn-success">Send</button>
                          </span>
                    </div>
                </div>
                <!-- /.box-footer-->
              </div>
              <!--/.direct-chat -->
            </div>

{% endblock %}

{% block footer_script %}

<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>

<script>
    var roomName = '{{ room_name }}';
    var chatSocket = new ReconnectingWebSocket('ws://' + window.location.host +'/ws/chat/' + roomName + '/');

    console.log(chatSocket)
    console.log('{{ group_name }}')
    // console.log(JSON.parse({{chat_messages}}))
    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);

        console.log(data)
        var message = data['message'];
        var now_time = data['now_time'];
        var avatar = data['avatar'];
        var receive_user = data['user'];
        var user = "{{user}}";

        if (receive_user === user) {
            $('<div class="direct-chat-msg right"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">'+user+'</span><span class="direct-chat-timestamp pull-left">'+now_time+'</span></div><img class="direct-chat-img" src="'+avatar+'"><div class="direct-chat-text">'+message+'</div></div>').appendTo($('#direct-chat'))
        }
        else{
            $('<div class="direct-chat-msg"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">'+receive_user+'</span><span class="direct-chat-timestamp pull-left">'+now_time+'</span></div><img class="direct-chat-img" src="'+avatar+'" ><div class="direct-chat-text">'+message+'</div></div>').appendTo($('#direct-chat'))
        }
        $('#direct-chat').scrollTop($('#direct-chat')[0].scrollHeight);
        };
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
        $("#chat_message").focus();
        $("#chat_message").keyup(function(e){
          if (e.keyCode === 13) {  // enter, return
                $("#btn_send").click();
            }
        });
        $("#btn_send").click(function() {
          var message = $('#chat_message').val();
          chatSocket.send(JSON.stringify({
                'message': message
          }));
          $('#chat_message').val('');
        });
</script>
{% endblock %}